header {
    padding: 1rem;

    #logo {
        width: 50px;
    }

    ul {
        list-style-type: none;

        li {
            margin-right: 1rem;
        }

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, .5);
            transition: all .2s;

            &:hover, &.active {
                color: rgba(0, 0, 0, 1);
            }
        }
    }
}

.place,
.place-title,
.slider-title,
.monsters-grid-title,
.form-title {
    margin-bottom: 1rem;
}

.monsters-grid-title,
.form-title {
    text-align: center;
}

#presentation img {
    transition: all .5s;

    &:hover {
        filter: brightness(.5);
    }
}

.slider {
    text-align: center;
    margin-block: 5rem;
}

.monster-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
}

.monster-item {
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    width: fit-content;

    i {
        font-size: 1.5rem;
    }

    .monster-name {
        position: relative;
        font-weight: 700;
        margin-top: 1rem;

        &::after {
            position: absolute;
            content: " ";
            display: block;
            background-color: #000;
            width: 5rem;
            height: 1px;
            margin-top: 1rem;
            left: 30%;
        }
    }

    .monster-description {
        margin-block: 2rem;
    }
}

.contact-form {

    .form-title {
        margin-block: 2rem;
    }

    button {
        margin-left: 45%;
        border: none;
        border-radius: 3px;
        background-color: rgba(127, 127, 127, .1);
        padding: .5rem, 1.5rem;
        transition: all .2s;

        &:hover {
            scale: 1.05;
        }
    }
}

footer {
    border-top: 1px solid rgba(0, 0, 0, .5);
    margin-top: 2rem;

    .socials {
        padding: 1rem;

        i {
            padding: .2rem;
        }
    }
}

@media all and (max-width: 768px) {
    .monster-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 769px; max-width: 1023px) {
    .monster-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .slider {

        .slider-pictures {
            flex-direction: row!important;

            img {
                width: 200px;
                margin: 0;
                filter: grayscale(100%);
                transition: all .5s;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}