# Default ignored files
/../../../../../../CCP 1 - Développer une application sécurisée/Développer des interfaces utilisateur/Web statique/Examen/exam-monster-hunter/.idea/shelf/
/../../../../../../CCP 1 - Développer une application sécurisée/Développer des interfaces utilisateur/Web statique/Examen/exam-monster-hunter/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../CCP 1 - Développer une application sécurisée/Développer des interfaces utilisateur/Web statique/Examen/exam-monster-hunter/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../CCP 1 - Développer une application sécurisée/Développer des interfaces utilisateur/Web statique/Examen/exam-monster-hunter/.idea/dataSources/
/../../../../../../CCP 1 - Développer une application sécurisée/Développer des interfaces utilisateur/Web statique/Examen/exam-monster-hunter/.idea/dataSources.local.xml
